.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#search-input{
  width: 60%;
  margin: 1rem auto;
  text-align: center;
}
#city-form{
  background-color: rgba(243, 243, 148, 0.708);
  padding: 2rem;
  width: 30%;
  margin: auto;
}
#city-display{
  margin:3rem auto;
  text-align: center;
  height: 500px;
  width: 30%;
}

#error-alert{
  padding: 2rem;
  width: 20%;
  margin: 1rem auto;
}
#forecast-title{
  font-size: 24px;
  background-color: rgba(0, 191, 255, 0.557);
}
#movie-card{
  margin: 1rem;
}

#movies-title{
  font-size: 24px;
  background-color: rgba(0, 191, 255, 0.557);
}